#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
name: Next Dockerimage

on:
  push:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout registry build tools
      uses: actions/checkout@v2
      with:
        repository: devfile/registry-support
        persist-credentials: false
        path: registry-support
    - name: Check out code
      uses: actions/checkout@v2
      with:
        path: registry-repo
    - name: Setup Go environment
      uses: actions/setup-go@v2
      with:
        go-version: 1.13
    - name: Login to Quay
      uses: docker/login-action@v1 
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}
    - name: Build the registry index image
      run: registry-support/build-tools/build.sh registry-repo/
    - name: Push the registry index image
      run: registry-support/build-tools/push.sh quay.io/devfile/devfile-index:next